/* Font Google */
@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&display=swap');

/*Start Global*/
:root {
	--main-color: #13ca96  ;
	--second-color : #FF6F61 ;
	--golden : rgb(233, 198, 0);
	--white: #f9f9f9;
	--second-white:rgb(240, 240, 240);
	--black: #2d2d2d;
	--dark-gray: #343A40;
	--medium-gray: #6C757D;
	--third-gray: #a7a7a7;
  --red: #E64E48;
  --after-nav-line: 0;
	--transition : all .3s ease-in-out;
  --box-interior : rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
  --padding-section : 70px;
  --linear-main-color : linear-gradient(135deg, var(--main-color), var(--white));
  --linear-gray-color : linear-gradient(135deg, var(--dark-gray), var(--third-gray));
  }

  
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Exo 2", serif;
}
body {
  height: 1000px;
}
.container {
  margin: 0 auto;
  padding: 0 15px;
  /* overflow: hidden; */
}
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
.clearfix {
  clear: both;
}
.row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
a {
  text-decoration: none;
}
.btn {
  display: inline-block;
  background-color: transparent;
  color: var(--main-color);
  border: 1px solid var(--main-color);
  padding: 8px 30px;
  border-radius: 20px;
  font-size: 15px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 1.2px;
  position: relative;
  cursor: pointer;
  overflow: hidden;
  transition: var(--transition);
  z-index: 2;
}
.btn::after{
	content: '';
	position: absolute;
	left: -100%;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: var(--main-color);
	border-radius: 20px;
	z-index: -1;
	transition: var(--transition);
}
.btn span,.btn i{position: relative;z-index: 2;}
.btn:hover{
	color: var(--white);
}
.btn:hover::after{
	left: 0;
}
.btns{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
}





.btn.big_btn{
  display: flex;
  width: fit-content;
  align-items: center;
  justify-content: space-between;
  gap: 30px;
  margin: auto;
}
.btn.big_btn span,
.bnt.big_btn i{
  position: relative;
  z-index: 2;
}
.btn.big_btn:hover i{color: var(--white);}



#btn_top_to_page{
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 40px;
  height: 40px;
  background-color: var(--main-color);
  color: var(--white);
  border: 2px solid var(--main-color);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
  z-index: 100;
  display: none;
  transition: var(--transition);;
}
#btn_top_to_page.show{
  display: flex;
  animation: show_slowly .3s ease-in-out;
}
@keyframes show_slowly{
  0%{transform: scale(0);opacity: 0;}
  100%{transform: scale(1);opacity: 1;}
}
#btn_top_to_page.show:hover{
  background-color: var(--white);
  color: var(--main-color);
}

.title{
  text-transform: uppercase;
  color: var(--dark-gray);
  letter-spacing: .3px;
  word-spacing: 1px;
  position: relative;
  padding-left: 25px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
.title::after{
  font-family: 'Font Awesome 5 Free';
  content: '\f105';
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  font-size: 18px;
  font-weight: bold;
}
.title a{
  color: var(--main-color);
  text-decoration: none;
  font-size: 15px;
  font-weight: 400;
  letter-spacing: .4px;
  text-decoration: underline;
  transition: var(--transition);
}
.title a:hover{
  color: var(--dark-gray);
}
/* Optional: Style the Slick arrows */
.slick-prev, .slick-next {
  font-size: 24px;
  color: #13ca96;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 10px;
  border-radius: 50%;
}

/* Optional: Style the pagination dots */
.slick-dots li button:before {
  color: #13ca96;
  font-size: 14px;
}
.slick-arrow.slick-prev,
.slick-arrow.slick-next{
  color: transparent;
  background: transparent;
}
.slick-arrow.slick-prev{left: -45px;z-index: 2;}
.slick-arrow.slick-next{right: -45px;z-index: 2;}
.slick-arrow.slick-prev::before,
.slick-arrow.slick-next::before{
  font-family: 'Font Awesome 5 Free';
  content: '\f053';
  font-weight: bold;
  font-size: 22px;
  color: var(--main-color);
  background-color: transparent;
  width: 35px;
  height: 35px;
  position: absolute;
  display: grid;
  place-items: center;
  border-radius: 50%;
  color: var(--main-color);
  transition: var(--transition);
}
.slick-arrow.slick-next::before{content: '\f054';}
.slick-arrow.slick-prev:hover::before,
.slick-arrow.slick-next:hover::before{
  background-color: var(--main-color);
  color: var(--white);

}
.slick-dots li{
  width: 0px!important;
  margin: 0 7px!important;
}
.slick-dots li.slick-active button::before{
  font-size: 10px;
  color: var(--main-color)!important;
}

/*End Global*/

/*  START NAVBAR*/
nav {
  display: flex;
  justify-content: space-between;
  height: 60px;
  width: 100%;
  padding: 10px 0;
  position: fixed;
  left: 50%;
  top: 0;
  padding: 0;
  transform: translateX(-50%);
  z-index: 4;
}
nav.black{background-color: var(--black);}
nav.black{background-color: var(--black);}
nav.active .container{
  position: relative;
  padding-top: 7px;
  padding-bottom: 5px;
  background-color: var(--black);
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}
nav.active .container::before,
nav.active .container::after{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 5px;
  background-color: #ffffff54;
}
nav.active .container::after{
  width: var(--after-nav-line);
  background-color: var(--main-color);
  transition: var(--transition);
}
nav .brand {
  text-transform: uppercase;
}
nav .brand h2 {
  padding-top: 5px;
  color: var(--white);
}
nav .brand h2 span {
  color: var(--main-color);
}
/* nav .content{
	display: flex;
} */
nav .links {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
}
nav .links li {
  padding: 10px 12px;
  text-align: center;
}
nav.active .links li{
  padding: 10px 5px;
}
nav .links li a {
  font-size: 12px;
  text-transform: uppercase;
  text-decoration: none;
  color: var(--white);
  letter-spacing: 1px;
  outline: none;
  transition: var(--transition);
}
nav.active .links li a{
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 45px;
  height: 40px;
  box-shadow: var(--box-interior);
}
nav.active .links li a::after{
  content: attr(data-name);
  position: absolute;
  bottom: -40px;
  min-width: 50px;
  padding: 5px;
  background-color: var(--main-color);
  color: var(--white);
  border: 1px solid ;
  font-size: 12px;
  text-transform: capitalize;
  letter-spacing: .3px;
  padding: 4px;
  display: none;
  animation: hide_to_show .7s ease-in-out;
}

nav .links li a.active,
nav .links li a:hover {
  color: var(--main-color);
  border-bottom: 2px solid var(--main-color);
  transform: rotate(360deg);
}
nav.active .links li a:hover::after{
  display: block;
  transform: rotate(-360deg);

}
@keyframes hide_to_show {
  0%{
    opacity: 0;
    /* transform: scale(0); */
  }
  100%{
    opacity: 1;
    /* transform: scale(1); */
  }
}
nav.active .links li a.active,
nav.active .links li a:hover{
  color: var(--white);
  /* border: 1px solid var(--main-color); */
  background-color: var(--main-color);
  border-radius: 50%;
}
nav .links li a i{
  font-size: 20px;
  display: none;
}
nav.active .links li a i{
  display: block;
}
nav.active .links li a span{display: none;}
nav .cart_link{
	margin-left: 10px;
}
nav .cart_link:nth-of-type(1){
	margin-left: 25px;
}
nav .cart_link a{
	font-size: 24px;
  font-weight: bold;
  color: var(--main-color);
  gap: 10px;
}
nav .cart_link a.active,
nav .cart_link a:hover{
  color: var(--white);
}
nav .cart_link .num{
	font-size: 13px;
	font-weight: 500;
	background-color: var(--main-color);
	color: var(--white);
	width: 20px;
	height: 20px;
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;
	border-radius: 3px;
}
nav .cart_link .num::after{
	content: '';
	position: absolute;
	left: -5px;
	top: 50%;
	transform: translateY(-50%)rotate(45deg);
	width: 10px;
	height: 10px;
	background-color: var(--main-color);
	z-index: -1;
}
nav .icons{
	position: relative;
}
nav .icons .list_menu{
	display: none;
	position: absolute;
	top: calc(100% + 22px);
	min-width: 350px;
	right: 0;
	background-color: var(--dark-gray);
	border-top: 5px solid var(--main-color);
  animation: go-to-left .3s forwards;
	transition: var(--transition);
}
nav .icons .list_menu.active{
  display: block;
  
	/* transition: var(--transition); */
}
@keyframes go-to-left {
  from{ 
    transform: translateX(100%);
  }
  to{
    transform: translateX(0);
  }
}
nav .icons .list_menu .row{
	gap: 15px;
	border-bottom: 1px solid var(--medium-gray);
}
nav .icons .list_menu .image{
	flex-basis: 35%;
	height: 130px;
	padding: 0;
	position: relative;
}
nav .icons .list_menu .image img{
	/* width: 	150px; */
	width: 100%;
	height: 100%;
	object-fit: cover;
	background-color: var(--white);
}

nav .icons .list_menu .info{
	flex-basis: 65%;
}
nav .icons .list_menu .info h4{
	color: var(--white);
	font-weight: 400;
	font-size: 15px;
	margin-bottom: 10px;
	letter-spacing: .5px;
  cursor: pointer;
  transition: var(--transition);
}
nav .icons .list_menu .info h4:hover{color: var(--main-color);}
nav .icons .list_menu .info p{
	color: var(--third-gray);
	font-size: 14px;
	font-weight: 500;
	display: flex;
	align-items: center;
	gap: 10px;
}
nav .icons .list_menu .info p span:nth-of-type(2){
	color: var(--main-color);
}
nav .icons .list_menu .btn_remove{
	margin-right: 15px;
	width: 37px;
	height: 30px;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 50%;
	color: var(--white);
	border: 2px solid var(--white);
	background-color: transparent;
	line-height: 0;
	font-size: 13px;
	font-weight: bold;
	cursor: pointer;
	transition: var(--transition);
}
nav .icons .list_menu .btn_remove:hover{
	background-color: var(--white);
	color: var(--black);
}
/*  END NAVBAR  */
/*  START HEADER  */
header {
  height: 100vh;
  min-height: 650px;
  background-image: url('../images/header.jpg');
  background-size: cover;
  background-attachment: fixed;
  position: relative;
  overflow: hidden;
}
header:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: .95;
  background: var(--linear-gray-color);
}
header .overlay {
  width: 90%;
  text-align: center;
  position: absolute;
  height: 100px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
}
header .overlay h2 {
  color: #fff;
  font-size: 2.2rem;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 1px;
  word-spacing: 1.2px;
}
header .overlay p {
  color: #fff;
  font-size: 1.1rem;
  line-height: 1.3;
  width: 50%;
  margin: 17px auto;
}
header .overlay i {
  color: #fff;
  font-size: 1.3rem;
  cursor: pointer;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  text-align: center;
  line-height: 35px;
  transition: all .4s ease;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
header .overlay i:hover {
  background: var(--main-color);
}
header .overlay i.fa-angle-left {
  left: 0;
}
header .overlay i.fa-angle-right {
  right: 0;
}

header .content {
  position: absolute;
  left: 0;
  top: 0;  
  width: 100%;
  height: calc(100% - 120px);

  z-index: 3;
}
@media(max-width:981px){
	header .content{
		top: 100px;
	}
}
header .content .container{
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 100px;
}
header .content h5 {
  font-size: 20px;
  font-weight: 500;
  color: var(--main-color);
  text-transform: uppercase;
  margin-top: 50px;
}
header .content .infos{}
/* header .content .infos .search_box{margin-bottom: ;} */
header .content h1 {
  line-height: 1;
  margin-top: 25px;
  font-size: 50px;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 800;
  line-height: 1.3;
  color: var(--white);
  position: relative;
}
header .content h1::after{
	content: '';
	position: absolute;
	top: 5px;
	left: -50px;
	width: 350px;
	height: 65px;
	background: linear-gradient(to right, var(--main-color) , transparent);
  z-index: -1;
}
header .content .btns{
  /* display: flex; */
  gap: 20px;
}
header .content .btns .btn.big_btn{
  color: var(--white);
  border-color: transparent;
}
header .content .btns .btn.big_btn::after{
  left: 0;
}

header .content .btns .btn.big_btn:hover{color: var(--main-color);border-color: var(--main-color);}
header .content .btns .btn.big_btn:hover::after{left: -100%;}
header .content .btns .btn.big_btn:hover span{text-decoration: underline;}
header .content .btns .btn.big_btn:hover i{color: var(--main-color);}
header .foot {
  position: absolute;
  width: 100%;
  bottom: 0;
  background: rgb(162, 255, 229, .8);
  z-index: 2;
  padding: 25px 0;
}
header .foot .box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 15px;
}
header .foot .box i {
  font-size: 65px;
  color: #0c966f;
}
header .foot .box h4 {
  font-size: 40px;
  font-weight: 900;
  color: #2e2e2e;
  line-height: 1.1;
  letter-spacing: 1px;
}
header .foot .box p {
  text-transform: uppercase;
  font-weight: 600;
  font-size: 13px;
  letter-spacing: .5px;
  color: #4e4e4e;
}
/*  END HEADER  */
/*  START SECTION ABOUT */
section.about{
  padding-top: var(--padding-section);
  /* padding-bottom: var(--padding-section); */
}
section.about h1{
  text-align: center;
  font-size: 35px;
  text-transform: uppercase;
  color: var(--black);
  font-weight: 900;
  line-height: 1;
}
section.about h4{
  text-align: center;
  margin-top: 12px;
  font-size: 18px;
  text-transform: uppercase;
  font-weight: 500;
  color: var(--main-color);
}
section.about p{
  margin: 35px auto 45px;
  font-size: 17px;
  line-height: 1.4;
  color: var(--medium-gray);
  text-align: center;
}
section.about .big_btn{
  padding: 10px 25px;
  font-size: 16px;
}
/*  END SECTION ABOUT */
/*  START SECTION BEST-SELLER OF THE YEAR */
section.best_seller_section{
  padding-top: var(--padding-section);
  /* padding-bottom: var(--padding-section); */
}
section.best_seller_section .boxes_products{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: var(--padding-section);
  padding-bottom: 15px;
}
section.best_seller_section .boxes_products .box{
  width: 100%;
  height: 350px;
  background: var(--linear-main-color);
  background: rgb(162, 255, 229, .4);
  border-radius: 10px;
  margin-right: 25px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  cursor: pointer;
  transition: var(--transition);
}
section.best_seller_section .boxes_products .box:hover{
  background: var(--linear-main-color);
}
section.best_seller_section .boxes_products .image{
  height: 75%;
  display: grid;
  place-items: center;
  position: relative;
  perspective: 400px;
}
section.best_seller_section img{
  width: 170px;
  height: 200px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius: 2px;
  transition: var(--transition);
  /* border: 3px solid var(--dark-gray); */
}
section.best_seller_section .boxes_products .box:hover img{transform: scale(1.1);}
 section.best_seller_section .boxes_products .image .btns{
  position: absolute;
  width: 90%;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  justify-content: space-between;
 }
 section.best_seller_section .boxes_products .image .btns .btn{
  height: 37px;
  width: 37px;
  padding: 0;
  border-width: 0px;
  padding-top: 1px;
  display: grid;
  place-items: center;
  font-size: 16px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  border: none;
  color: var(--white);

}
section.best_seller_section .boxes_products .image .btns .btn.add_wishlist{
  background-color: var(--red);
}
section.best_seller_section .boxes_products .image .btns .btn.add_cart{
  background-color: var(--golden);
  color: var(--dark-gray);
}
section.best_seller_section .boxes_products .info{
  background-color: var(--second-white);
  height: 35%;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  border-top: 3px solid var(--main-color);
  padding: 4px 10px;
}
section.best_seller_section .boxes_products .info .head{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 30px;
}
section.best_seller_section .boxes_products .info .head h3{
  flex-basis: 85%;
  font-size: 17px;
  color: var(--dark-gray);
  font-weight: 700;
  letter-spacing: .2px;
  overflow: hidden;
  text-wrap: nowrap;
  transition: var(--transition);
}
section.best_seller_section .boxes_products .box:hover h3{
  color: var(--main-color);
}
section.best_seller_section .boxes_products .info .head p{
  flex-basis: 25%;
  display: flex;
  justify-content: flex-end;
  font-size: 14px;
  font-weight: 600;
  color: var(--medium-gray);
}
section.best_seller_section .boxes_products .info .foot{
  display: flex;
  justify-content: space-between;
}
section.best_seller_section .boxes_products .info .foot .item{
  display: flex;
  align-items: center;
  gap: 5px;
}
section.best_seller_section .boxes_products .info .foot .item i{
  font-size: 16px;
  color: var(--medium-gray);
}
section.best_seller_section .boxes_products .info .foot .item span{
  font-size: 14px;
  font-weight: 600;
  color: var(--medium-gray);
}
/*  END SECTION BEST-SELLER OF THE YEAR */



/*  START SECTION POPULAR CATEGORIES IN BOOKS */
section.popular_categories{
  padding-top: var(--padding-section);
  /* padding-bottom: var(--padding-section); */
}
section.popular_categories .container .boxes{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 25px;
  row-gap: 30px;
  margin-top: var(--padding-section);
}
section.popular_categories .container .boxes .box{
  position: relative;
  height: 200px;
}
section.popular_categories .container .boxes .box .image{
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: var(--linear-main-color);
  border-radius: 50%;
  border: 4px solid var(--medium-gray);
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}
section.popular_categories .container .boxes .box .image::after{
  content: attr(data-title);
  position: absolute;
  left: 50%;top: -40px;
  transform: translateX(-50%);
  text-align: center;
  width: 0;
  background-color: var(--main-color);
  color: var(--white);
  border-radius: 3px;
  text-wrap: nowrap;
  font-size: 15px;
  font-weight: 500;
  letter-spacing: .5px;
  text-transform: capitalize;
  padding: 5px;
  overflow: hidden;
  opacity: 0;
  z-index: 2;
  transition: var(--transition);
}
section.popular_categories .container .boxes .box:hover .image::after{width: 200px;opacity: 1;}
section.popular_categories .container .boxes .box .image::before{
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: calc(100%);
  height: calc(100%);
  background: var(--linear-gray-color);
  opacity: 0;
  border-radius: 50%;
  z-index: 3;
  transition: var(--transition);
  cursor: pointer;
}
section.popular_categories .container .boxes .box:hover .image::before{opacity: .3;}
section.popular_categories .container .boxes .box .image img{
  position: absolute;
  height: 100%;
  width: 100%;
  border-radius: 50%;
}

section.popular_categories .container .boxes .box .info{
  position: absolute;
  left: 50%;
  bottom: -35px;
  transform: translateX(-50%);
  text-align: center;
  width: 0;
  background-color: var(--main-color);
  color: var(--white);
  border-radius: 3px;
  text-wrap: nowrap;
  font-size: 15px;
  font-weight: 500;
  letter-spacing: .5px;
  text-transform: capitalize;
  padding: 5px 10px;
  overflow: hidden;
  opacity: 0;
  z-index: 2;
  transition: var(--transition);
}
section.popular_categories .container .boxes .box:hover .info{
  width: 100%;opacity: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 14px;
}
section.popular_categories .container .boxes .box:hover .info span{
}
section.popular_categories .container .boxes .box:hover .info span i{
  margin-right: 5px;
  font-size: 15px;
}
/*  END SECTION POPULAR CATEGORIES IN BOOKS */
/* START SECTION LATEST BOOK REVIEWS */

section.latest_book_reviews{
  padding-top: var(--padding-section);
  padding-bottom: var(--padding-section);
}
section.latest_book_reviews .container{overflow:visible;}
section.latest_book_reviews .container .boxes{
  /* display: grid;
  grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
  gap: 30px;
  row-gap: 30px; */
  margin-top: var(--padding-section);
  display: block;
}

section.latest_book_reviews .container .boxes .box{
  position: relative;
  height: 380px;
  margin-right: 25px;
  margin-top: 15px;
  overflow: visible;
}
section.latest_book_reviews .container .boxes .box .head{
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  height: 100px;
  background: var(--second-white);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: end;
  padding: 0 30px 0 0;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}
section.latest_book_reviews .container .boxes .box .head::before{
  font-family: 'Font Awesome 5 Free';
  content: '\f10d';
  position: absolute;
  left: 25px;
  top: -27px;
  font-size: 47px;
  font-weight: bold;
  color: var(--medium-gray);
}
section.latest_book_reviews .container .boxes .box .head h2{
  font-size: 25px;
  font-weight: 600;
  letter-spacing: 0;
  line-height: 1;
  margin-bottom: 5px;
  color: var(--dark-gray);
  position: relative;
}
section.latest_book_reviews .container .boxes .box .head h2::before,
section.latest_book_reviews .container .boxes .box .head h2::after{
  font-family: 'Font Awesome 5 Free';
  content: "\f10d";
  position: absolute;
  top: 0;
  left: -13px;
  font-size: 10px;
  font-weight: bold;
  color: var(--dark-gray);
  transition: var(--transition);
}
section.latest_book_reviews .container .boxes .box .head h2::after{
  content: '\f10e';
  right: -13px;
  top: 3px;
  left: auto;
}
section.latest_book_reviews .container .boxes .box .head p{
    color: var(--medium-gray);
    font-size: 15px;
    letter-spacing: .3px;
}
section.latest_book_reviews .container .boxes .box .body{
  position: absolute;
  top: 100px;
  height: calc(100% - 200px);
  display: flex;
  align-items:center;
  z-index: 100;
  padding: 0 25px;
  background: #f7f7f7;
  /* border-left: 1px solid #dfdfdf;
  border-right: 1px solid var(--third-gray); */
  overflow: hidden;
}
section.latest_book_reviews .container .boxes .box .body p{
  font-size: 17px;
  line-height: 1.4;
  color: var(--medium-gray);
}
section.latest_book_reviews .container .boxes .box .foot{
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 0;
  height: 100px;
  background: var(--second-white);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 25px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}
section.latest_book_reviews .container .boxes .box .foot .image{
  position: relative;
  border-radius: 50%;
}
section.latest_book_reviews .container .boxes .box .foot .image::after{
  content: '';
  position: absolute;
  right: 4px;
  bottom: -4px;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: green;
  border: 3px solid var(--second-white);
}
section.latest_book_reviews .container .boxes .box .foot .image img{
  position: relative;
  left: 0;
  top: 0;
  width: 55px;
  height: 55px;
  border-radius: 50%;
}
section.latest_book_reviews .container .boxes .box .foot .rating h4{
  font-size: 17px;
  text-transform: capitalize;
  font-weight: 600;
  color: var(--dark-gray);
  margin-bottom: 5px;
}
section.latest_book_reviews .container .boxes .box .foot .rating .rat{
  display: flex;
  align-items: end;
  gap: 8px;
}
section.latest_book_reviews .container .boxes .box .foot .rating .rat .stars i{
  font-size: 13px;
  color: var(--golden);
}
section.latest_book_reviews .container .boxes .box .foot .rating .rat span{
  font-size: 13px;
  font-weight: 700;
  color: var(--medium-gray);
}
/* END SECTION LATEST BOOK REVIEWS */


/* START SECTION SEND YOUR MAIL */
.send_your_mail{
  padding-top: calc(var(--padding-section) + 50px);
  padding-bottom: calc(var(--padding-section) + 50px);
  background-color: #a7a7a7;
  display: flex;
  align-items: center;
  min-height: 470px;
  background: url('../images/send_mail_back.jpg');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  position: relative;
}
.send_your_mail::after{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--linear-gray-color);
  opacity: .85;
  z-index: 1;
}
.send_your_mail .content{
  width: 90%;
  margin: auto;
  position: relative;
  z-index: 2;
}
.send_your_mail .content .box{
  flex-basis: 50%;
  height: 100%;
}
.send_your_mail .content .box.icons{
  display: flex;
  justify-content: center;
  align-items: center;
}
.send_your_mail .content .box.icons .icons_box{
  width: 550px;
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(calc(50% - 20px),1fr));
  gap: 20px;
}
.send_your_mail .content .box.icons .icons_box .icon{
  padding: 10px 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--white);
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  position: relative;
  overflow: hidden;
  transition: var(--transition);
}
.send_your_mail .content .box.icons .icons_box .icon::after{
  content: '';
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 4px;
  background-color: var(--second-white);
  box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 4px;
  transition: var(--transition);
}
.send_your_mail .content .box.icons .icons_box .icon i{
  font-size: 40px;
}
.send_your_mail .content .box.icons .icons_box .icon .info{
  display: flex;
  flex-direction: column;
  align-items: end;
  gap: 5px;
}
.send_your_mail .content .box.icons .icons_box .icon .info h3{
  color: var(--second-white);
  font-size: 19px;
  font-weight: 800;
  letter-spacing: .4px;
}
.send_your_mail .content .box.icons .icons_box .icon .info p{
  font-size: 14px;
  font-weight: 500;
}
.send_your_mail .content .box.icons .icons_box .icon:hover{transform: rotate(3deg);}
.send_your_mail .content .box.icons .icons_box .icon:hover::after{left: 0;}
.send_your_mail .content .box.icons .icons_box .icon.facebook{background: linear-gradient(45deg, #1877F2, #4C69BA, #A3C6F2);}
.send_your_mail .content .box.icons .icons_box .icon.facebook:hover{background: linear-gradient(45deg, #A3C6F2, #4C69BA, #1877F2);}
.send_your_mail .content .box.icons .icons_box .icon.instagram{background: linear-gradient(45deg, #F58529, #DD2A7B, #8134AF, #515BD4);}
.send_your_mail .content .box.icons .icons_box .icon.instagram:hover{background: linear-gradient(45deg, #515BD4, #8134AF, #DD2A7B, #F58529);}
.send_your_mail .content .box.icons .icons_box .icon.whatsapp{background: linear-gradient(45deg, #25D366, #128C7E);}
.send_your_mail .content .box.icons .icons_box .icon.whatsapp:hover{background: linear-gradient(45deg, #128C7E, #25D366);}
.send_your_mail .content .box.icons .icons_box .icon.envelope{background: linear-gradient(45deg, #D93025, #EA4335, #FBBC04);}
.send_your_mail .content .box.icons .icons_box .icon.envelope:hover{background: linear-gradient(45deg, #FBBC04, #EA4335, #D93025);}
.send_your_mail .content .box.fields{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.send_your_mail .content .box.fields .icon{
  font-size: 75px;
  color: var(--main-color);
  margin-bottom: 10px;
}
.send_your_mail .content .box.fields h1{
  font-size: 45px;
  text-transform: uppercase;
  line-height: 1.3;
  letter-spacing: 1.2px;
  font-weight: 700;
  color: var(--white);
  margin-bottom: 45px;
  max-width: 450px;
  text-align: center;
}
.send_your_mail .content .box.fields .field{
  position: relative;
  border-radius: 30px;
  overflow: hidden;
  background-color: var(--second-white);
  height: 60px;
  width: 65%;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.send_your_mail .content .box.fields .field input{
  height: 100%;
  width: 100%;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  padding-left: 25px;
  padding-right: 25px;
  color: var(--medium-gray);
  border: none;
  outline: none;
  font-size: 16px;
}
.send_your_mail .content .box.fields .field .btn{
  position: absolute;
  right: 25px;
  top: 50%;
  transform: translateY(-50%);
  border-color: var(--dark-gray);
  border-width: 2px;
  font-weight: 800;
  color: var(--dark-gray);
  font-size: 13px;
  padding: 7px 15px;
  text-transform: capitalize;
}
.send_your_mail .content .box.fields .field .btn::after{z-index: -1;font-weight: 900;background-color: #c2c2c2;}  
/* START SECTION SEND YOUR MAIL */


/* START SECTION BLOGS */
section.blogs{
  padding-top: var(--padding-section);
  overflow: hidden;
}
section.blogs .boxes{
  padding-top: var(--padding-section);
  display: flex;
  align-items: center;
  gap: 25px;
  padding-left: 25px;
}
section.blogs .boxes .box{
    /* max-width: 280px;
    height: 280px; */
    /* cursor: pointer; */
    margin-right: 25px;
    overflow: hidden;
}
section.blogs .boxes .box .image{
  /* position: absolute; */
  border-radius: 20px;
  overflow: hidden;
  background:var(--linear-main-color);
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  opacity: .9;
  transition: var(--transition);
}
section.blogs .boxes .box .image img{
  width: 100%;
  height: 100%;
  transition: var(--transition);
}
section.blogs .boxes .box h3{
  margin-top: 10px;
  font-size: 16px;
  font-weight: 600;
  color: var(--medium-gray);
  letter-spacing: .5px;
  transition: var(--transition);
}
section.blogs .boxes .box:hover .image{opacity: 1;}
section.blogs .boxes .box:hover .image img{transform: scale(1.1) rotate(2deg);}
section.blogs .boxes .box:hover h3{color: var(--main-color);}
section.blogs .boxes .slick-arrow.slick-prev{left: 45px;}
section.blogs .boxes .slick-arrow.slick-next{right: -15px;}
section.blogs .boxes .slick-arrow.slick-prev::before{
  background-color: var(--white);
  color: var(--main-color);
  transform: scale(.9);
}
section.blogs .boxes .slick-arrow.slick-next::before{
  right: 100px;
  background-color: var(--white);
  color: var(--main-color);
  transform: scale(1.1);
}
/* END SECTION BLOGS */

/* START FREQUENTLY ASKED QUESTIONS */
section.frequently_asked_questions{
  padding-top: var(--padding-section);
}
section.frequently_asked_questions .items{
  padding-top: var(--padding-section);
}
section.frequently_asked_questions .items .item{margin-bottom: 20px;}
section.frequently_asked_questions .items .item .title_box{
  background-color: var(--second-white);
  padding:20px 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 30px;
  cursor: pointer;
  transition: var(--transition);
}
section.frequently_asked_questions .items .item .title_box:hover{
  background-color: #d8d8d8;
}
section.frequently_asked_questions .items .item .title_box h2{
  font-size: 20px;
  color: var(--medium-gray);
  text-transform: capitalize;
  transition: var(--transition);
}
section.frequently_asked_questions .items .item .title_box i{
  font-size: 20px;
  color: var(--medium-gray);
  transition: var(--transition);
}
section.frequently_asked_questions .items .item .title_box:hover h2,
section.frequently_asked_questions .items .item .title_box:hover i{color: var(--dark-gray);}
section.frequently_asked_questions .items .item .info{
  background-color: #f0f0f0d3;
  height: 150px;
  width: 90%;
  padding: 0 25px;
  margin-top: 0;
  margin: 0 auto;
  border-radius: 5px;
  height: 0;
  overflow: hidden;
  transition: var(--transition);
}
section.frequently_asked_questions .items .item .info p{
  padding: 30px;
  color: var(--medium-gray);
  font-size: 16px;
  line-height: 1.6;
  text-align: center;
}
section.frequently_asked_questions .items .item .info.active{
  height: auto;
  overflow: auto;
  margin-top: 15px;
  animation: go-from-down .5s ease-in-out;
}
/* END FREQUENTLY ASKED QUESTIONS */
/* START SHOP BY CATEGORIES */
section.shop_by_categories{
  padding-top: var(--padding-section);
}
section.shop_by_categories .boxes{
  padding-top: var(--padding-section);
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(350px,1fr));
  /* align-items: center; */
  gap: 25px;
  row-gap: 45px;
}
section.shop_by_categories .boxes .box{
  display: flex;
  gap: 25px;
}
section.shop_by_categories .boxes .box .image{
  /* flex-basis: 50%; */
  background: var(--linear-main-color);
  width: 150px;
  min-height: 200px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}
section.shop_by_categories .boxes .box .image img{
  width: 100%;
  height: 100%;
}
section.shop_by_categories .boxes .box .info{
  flex-basis: 50%;
}
section.shop_by_categories .boxes .box .info h4,
section.shop_by_categories .boxes .box .info h4 a{
  font-size: 15px;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: .6px;
  color: var(--main-color);
  margin-bottom: 15px;
  transition: var(--transition);
}
section.shop_by_categories .boxes .box  .info h4:hover,
section.shop_by_categories .boxes .box  .info h4 a:hover{color: var(--medium-gray);}
section.shop_by_categories .boxes .box  .info .links a{
  margin-bottom: 8px;
  display: block;
  font-size: 14px;
  text-transform: capitalize;
  color: var(--dark-gray);
  letter-spacing: 0;
  font-weight: 400;
  line-height: 1.3;
  position: relative;
  padding-left: 10px;
  transition: var(--transition);
}
section.shop_by_categories .boxes .box  .info .links a::before{
  font-family: 'Font Awesome 5 Free';
  content: '\f192';
  position: absolute;
  left: -5px;
  top: 2px;
  font-size: 11px;
  color: var(--medium-gray);
  transition: var(--transition);
}
section.shop_by_categories .boxes .box  .info .links a:hover{color: var(--main-color);}
section.shop_by_categories .boxes .box  .info .links a:hover::before{color: var(--main-color);}
/* END SHOP BY CATEGORIES */

/* START FOR THE LOVE READING */
.for_the_love_reading{
  padding-top: var(--padding-section);
}
.for_the_love_reading .boxes{
  padding-top: var(--padding-section);
  display: flex;
  justify-content: space-between;
  gap: 50px;
}
.for_the_love_reading .boxes .box{flex-basis: 50%;}
.for_the_love_reading .boxes .box .item{
  margin-bottom: 30px;
}
.for_the_love_reading .boxes .box .item h4{
  font-size: 17px;
  text-transform: capitalize;
  font-weight: 600;
  color: var(--dark-gray);
  margin-bottom: 15px;
}
.for_the_love_reading .boxes .box .item p{
  font-size: 15px;
  color: var(--medium-gray);
  line-height: 1.6;
}
.for_the_love_reading .boxes .box .item p a{color: var(--main-color);}
.for_the_love_reading .boxes .box .btn{
  border-radius: 4px;
  letter-spacing: .5px;
  padding: 10px 30px;
  font-weight: 500;
}
.for_the_love_reading .boxes .box .btn::after{
  border-radius: 4px;
}
.for_the_love_reading .boxes .box .video{
  width: 100%;
  height: 100%;
}
.for_the_love_reading .boxes .box .video iframe{width: 100%;height: 100%;}
/* END FOR THE LOVE READING */

/* START FOOTER */
footer{
  padding-top: var(--padding-section);
  padding-bottom: var(--padding-section);
  margin-top: var(--padding-section);
  background-color: var(--main-color);
}
footer.container{

}
footer .boxes{
  display: flex;
}
footer .boxes .box.links{
  flex-basis: 65%;
  padding-right: 25px;
  border-right: 1px solid var(--medium-gray);
}
footer .boxes .box.contact{
  flex-basis: 35%;
  padding-left: 25px;
}
footer .boxes .box.links .items{
  display: flex;
  justify-content: space-between;
  gap: 25px;
}
footer .boxes .box.links .items .item{}
footer .boxes .box h3{
  font-size: 22px;
  text-transform: capitalize;
  font-weight: 600;
  color: var(--white);
}
footer .boxes .box h3:not(:first-of-type){margin-top: 25px;}
footer .boxes .box.links .items .item ul{list-style: none;margin-top: 15px;}
footer .boxes .box.links .items .item ul li{margin-top: 10px;}
footer .boxes .box.links .items .item ul li a{
  font-size: 14px;
  text-transform: capitalize;
  color: var(--dark-gray);
  transition: var(--transition);
  /* font-weight: 300; */
}
footer .boxes .box.links .items .item ul li a:hover{color: var(--second-white);}
footer .boxes .box.links > p{
  font-size: 14px;
  margin-top: 45px;
  line-height: 1.5;
  color: var(--dark-gray);
}
footer .boxes .box.contact .icons{
  display: flex;
  gap: 30px;
  margin-top: 25px;
}
footer .boxes .box.contact .icons a i{
  font-size: 25px;
  color: var(--second-white);
  transition: var(--transition);
}
footer .boxes .box.contact .icons a:hover i{color: var(--dark-gray);}
footer .boxes .box.contact .addresses{margin-top: 25px;}
footer .boxes .box.contact .addresses h3{margin-bottom: 25px;}
footer .boxes .box.contact .addresses a{
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
  color: var(--dark-gray);
  transition: var(--transition);
}
footer .boxes .box.contact .addresses a h5{
  flex-basis: 30%;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: .5px;
}
footer .boxes .box.contact .addresses a span{
  flex-basis: 70%;
  text-align: right;
  font-size: 14px;
}
footer .boxes .box.contact .addresses a:hover{color: var(--second-white);}
footer .boxes .box.contact .field{
  margin-top: 25px;
  position: relative;
  height: 35px;
  border-radius: 5px;
  overflow: hidden;
}
footer .boxes .box.contact .field input{
  position: absolute;
  width: 100%;
  height: 100%;
  border: none;
  padding: 10px;
  color: var(--dark-gray);
  font-weight: 500;
  opacity: .7;
  z-index: 1;
}
footer .boxes .box.contact .field button{
  position: absolute;
  right: 0;
  height: 100%;
  width: 90px;
  z-index: 2;
  border-radius: 0;
  border: none;
  cursor: pointer;
  font-size: 12px;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: .5px;
  background-color: var(--dark-gray);
  color: var(--second-white);
  transition: var(--transition);
}
footer .boxes .box.contact .field button:hover{background-color: var(--medium-gray);}
/* END FOOTER */








/* SEARCH BOX _______________________ */
.search_box {
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 650px;
  margin: 25px auto;
}

.search_box .box {
  display: flex;
  align-items: center; /* Align input and icon */
  position: relative; /* Ensure icon is positioned correctly */
  width: 100%;
}

.search_box .box .select_box{
  position: absolute;
  left: 0;
  height: 100%;
  width: 180px;
  border: none;
  background-color: transparent;
  padding: 5px;
  color: var(--medium-gray);
  border-right: 2px solid var(--medium-gray);
  font-size: 13px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: .7px;
  cursor: pointer;
  transition: var(--transition);
}
.search_box .box .select_box .main_item{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 5px;
  height: 100%;
}
.search_box .box .select_box .main_item i{
  right: 5px;
  font-size: 13px;
  color: var(--medium-gray);
}
.search_box .box .select_box .main_item:hover p,
.search_box .box .select_box .main_item:hover i{
  color: var(--main-color);
}
.search_box .box .select_box .menu.active{
  display: block;
  animation: go-from-down .3s ease-in-out;
}
.search_box .box .select_box .menu{
  display: none;
  position: absolute;
  left: 0;
  top: calc(100% + 10px);
  width: 180px;
  background-color: var(--white);
  border-top: 3px solid var(--main-color);
  box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px, rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
  transition: var(--transition);
}
@keyframes go-from-down{
  0% {
    transform: translateY(50px) scaleX(0);
    opacity: 0;
  }
  100% {
    transform: translateY(0) scaleX(1);
    opacity: 1;
  }
  /* duration: 0.5s; */
}
.search_box .box .select_box .menu .item{
  padding: 5px 5px;
  cursor: pointer;
  border-bottom: 1px solid var(--medium-gray);
  transition: var(--transition);
}
.search_box .box .select_box .menu .item p{
  flex-basis: 80%;
  text-wrap: nowrap;
  overflow: hidden;
  font-size: 14px;
  text-transform: capitalize;
  font-weight: 400;
  letter-spacing: .4px;
}
.search_box .box .select_box .menu .item:hover{background-color: var(--main-color);color: var(--white);}
.search_box .box input[type="text"] {
  width: 100%;
  padding: 7px 40px 7px 190px;
  font-size: 15px;
  background-color: #f0f4f8;
  border: 2px solid transparent;
  color: var(--dark-gray);
  border-radius: 8px;
  outline: none;
  transition: border-color 0.3s ease;
}
.search_box .box input[type="text"]::placeholder{color: var(--third-gray);}
.search_box .box input[type="text"]:focus {
  border-color: var(--main-color);
  color: var(--main-color); 
}

.search_box .box i {
  position: absolute;
  right: 16px; /* Position inside the input */
  font-size: 18px;
  color: var(--main-color); /* Icon color */
  pointer-events: none; /* Make icon unclickable */
}









